@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  font-family: "Roboto Condensed";
}

body {
  background-color: #f4f5f6;
}

.logo {
  font-family: "Alfa Slab One", cursive;
}

.bg-nw-red {
  background-color: #f72210 !important;
}

.text-nw-red {
  color: #f72210;
}

.subscribe {
  background-color: #ffe400;
}

.fa-bars {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.55);
}

.login li {
  margin-left: 0.5rem;
}

header a {
  color: black;
  text-decoration: none;
}

.categories .nav-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
}

.categories .nav-item:not(:last-child)::after {
  content: "";
  margin: auto;
  color: #ccc;
  height: 25px;
  border-right: 1px solid #ccc;
}

nav a:hover {
  color: #f72210 !important;
  text-decoration: none;
}

.categories {
  font-size: 19px;
}

.trending {
  font-size: 16px;
  font-family: "BenchNine", sans-serif;
  white-space: nowrap;
}

article h4 {
  line-height: 24px;
  font-size: 24px;
}

.summary {
  line-height: 20px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.thumbnail {
  position: relative;
}

.thumbnail .image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 17px;
  text-transform: uppercase;
}

.top-story h4 {
  font-size: 22px;
}

.font-normal {
  font-style: normal;
}

.opinion-aside {
  flex: 1;
}

.opinion-aside a {
  color: black;
  font-size: 17px;
}

.opinion-aside a:hover {
  text-decoration-color: #f72210;
}

.opinion-aside cite {
  font-size: 14px;
}

.compact {
  line-height: 1.25em;
}

.thumbnail .small-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  text-transform: uppercase;
}

.flex-1 {
  flex: 1;
}

.text-blue {
  color: #3581f4;
}

.article-small h5 {
  font-size: 17px;
}

@media (max-width: 992px) {
  header .display-3 {
    font-size: 1.5rem;
  }

  article h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .subscribe {
    font-size: 13px;
  }

  .fa-bars {
    font-size: 20px;
  }
}
