@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.logo {
  font-family: "Alfa Slab One", cursive;
}

.bg-nw-red {
  background-color: #f72210;
}

.subscribe {
  background-color: #ffe400;
}

.fa-bars {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.55);
}

.login li {
  margin-left: 0.5rem;
}

@media (max-width: 992px) {
  header .display-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .subscribe {
    font-size: 13px;
  }

  .fa-bars {
    font-size: 20px;
  }
}
